<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tool="http://schemas.android.com/tools"
    package="studios.thinkup.com.apprunning">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".model.RunningApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tool:replace ="android:icon"
        android:theme="@style/CustomActionBarTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/face_key"/>
        <meta-data android:name="DATABASE" android:value="runningDB.sqlite" />
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="studios.thinkup.com.apprunning.model.entity" />
       <activity
            android:name=".BusquedaCarreraActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/title_activity_buscar" >
        </activity>
        <activity
            android:name=".TemporizadorActivity"
            android:label="@string/title_temporizador">

        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_login"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FiltrosPorDefectoActivity"
            android:label="@string/title_activity_filtros"
            android:parentActivityName=".BusquedaCarreraActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="studios.thinkup.com.apprunning.BusquedaCarreraActivity" />
        </activity>
        <activity
            android:name=".CarrerasActivity"
            android:label="@string/title_activity_carreras"
            android:parentActivityName=".BusquedaCarreraActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="studios.thinkup.com.apprunning.BusquedaCarreraActivity" />
        </activity>
        <activity
            android:name=".RecomendadosActivity"
            android:label="@string/title_activity_carreras"
            android:parentActivityName=".BusquedaCarreraActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="studios.thinkup.com.apprunning.BusquedaCarreraActivity" />
        </activity>

        <activity
            android:name=".DetalleCarreraActivity"
            android:label="@string/title_activity_detalle_carrera"
            android:parentActivityName=".CarrerasActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="studios.thinkup.com.apprunning.CarrerasActivity" />
        </activity>
        <activity
            android:name=".MisDatosActivity"
            android:label="@string/title_activity_mis_datos"
            android:parentActivityName=".CarrerasActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="studios.thinkup.com.apprunning.CarrerasActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="your API key" />

    </application>

</manifest>
