<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tool="http://schemas.android.com/tools"
    package="studios.thinkup.com.apprunning" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="studios.thinkup.com.apprunning.permission.C2D_MESSAGE" />

    <permission
        android:name="studios.thinkup.com.apprunning.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".model.RunningApplication"
        android:allowBackup="true"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme"

        tool:replace="android:icon" >
        <receiver
            android:name=".broadcast.handler.NetworkStateReceiver"
            android:label="NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">

            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="studios.thinkup.com.apprunning" />
            </intent-filter>
        </receiver>

        <service
            android:name=".broadcast.handler.NotificationListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".broadcast.handler.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/face_key" />

        <activity
            android:name=".adapter.BusquedaCarreraActivity"
            android:label="@string/title_activity_buscar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".TemporizadorActivity"
            android:label="@string/title_temporizador"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AmigosActivity"
            android:label="@string/title_amigos"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DetalleAmigoActivity"
            android:label="@string/title_amigos"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".BuscarAmigosActivity"
            android:label="@string/title_amigos"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name=".PreferenciasActivity"
            android:label="@string/title_activity_filtros"
            android:parentActivityName=".adapter.BusquedaCarreraActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".adapter.BusquedaCarreraActivity" />
        </activity>
        <activity
            android:name=".CarrerasActivity"
            android:label="@string/title_activity_carreras"
            android:parentActivityName=".adapter.BusquedaCarreraActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".adapter.BusquedaCarreraActivity" />
        </activity>
        <activity
            android:name=".RecomendadosActivity"
            android:label="@string/title_activity_carreras"
            android:parentActivityName=".adapter.BusquedaCarreraActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".adapter.BusquedaCarreraActivity" />
        </activity>
        <activity
            android:name=".DetalleCarreraActivity"
            android:label="@string/title_activity_detalle_carrera"
            android:parentActivityName=".CarrerasActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="studios.thinkup.com.apprunning.CarrerasActivity" />
        </activity>
        <activity
            android:name=".MisCarrerasActivity"
            android:label="@string/title_activity_mis_datos"
            android:parentActivityName=".CarrerasActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="studios.thinkup.com.apprunning.CarrerasActivity" />
        </activity>
        <activity
            android:name=".TiemposCarrerasActivity"
            android:label="@string/title_activity_mis_tiempos"
            android:parentActivityName=".CarrerasActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="studios.thinkup.com.apprunning.CarrerasActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="your API key" />

        <activity
            android:name=".NuevoUsuario"
            android:label="@string/title_activity_nuevo_usuario"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="studios.thinkup.com.apprunning.MainActivity" />
        </activity>
        <activity
            android:name=".DatosUsuarioActivity"
            android:label="@string/title_activity_datos_usuario"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="studios.thinkup.com.apprunning.RecomendadosActivity" />
        </activity>
        <activity
            android:name=".VerTerminosYCondiciones"
            android:label="@string/title_activity_terminos_ycondiciones"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="studios.thinkup.com.apprunning.AcecaDeNosotrosActivity" />
        </activity>
        <activity
            android:name=".FiltroCarreraActivity"
            android:label="@string/title_activity_filtro_carrera"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AcecaDeNosotrosActivity"
            android:label="@string/title_activity_aceca_de_nosotros"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TutorialActivity"
            android:label="@string/tutorial"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TerminosYCondicionesActivity"
            android:label="@string/title_activity_terminos_ycondiciones"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".StartUpActivity"
            android:label="@string/title_activity_main"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SeleccionarUsuarioActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginSinRedSocialActivity"
            android:label="@string/title_activity_login_sin_red_social"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="studios.thinkup.com.apprunning.MainActivity" />
        </activity>
        <service android:name=".broadcast.handler.RegistrationIntentService"/>
    </application>

</manifest>
