<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta content="" name="description">
<meta content="" name="author">

<title>ReCorriendo</title>
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="../css/estilos.css" rel="stylesheet">
<link href="../css/font-awesome.min.css" rel="stylesheet"
	type="text/css">
<link href="../img/logo_pestaña.png" rel="shortcut icon">

</head>
<script src="http://cdn.jsdelivr.net/webshim/1.12.4/extras/modernizr-custom.js"></script>
<!-- polyfiller file to detect and load polyfills -->
<script src="http://cdn.jsdelivr.net/webshim/1.12.4/polyfiller.js"></script>
<script>
  webshims.setOptions('waitReady', false);
  webshims.setOptions('forms-ext', {types: 'date'});
  webshims.polyfill('forms forms-ext');
</script>
<body>

	<div id="wrapper">
		<nav class="navbar navbar-default navbar-static-top"
			style="margin-bottom: 0; background-color: #83C2FB;">
			<div class="navbar-header">
				<img height="100px" src="../img/logo.png">
			</div>
			<!-- Logo -->

			<div class="navbar-default sidebar" style="margin-top: 8%;">
				<div class="sidebar-nav" style="">
					<ul class="nav" id="side-menu">
						<li><a class="active" href="#"><i
								class="fa fa-flag-checkered fa-fw"></i> Carreras<span
								class="fa fa-angle-double-left" style="float: right;"></span></a>

							<ul class="nav nav-second-level">
								<li><a href="carreranueva.html">Nueva</a></li>

								<li><a href="modificarcarrera.html">Modificar</a></li>
							</ul></li>

						<li><a href="#"><i class="fa fa-group fa-fw"></i> Grupos<span
								class="fa fa-angle-double-left" style="float: right;"></span></a>

							<ul class="nav nav-second-level">
								<li><a href="gruponuevo.html">Nuevo</a></li>

								<li><a href="modificargrupo.html">Modificar</a></li>
							</ul></li>

						<li><a href="#"><i class="fa fa-user"></i> Reportes<span
								class="fa fa-angle-double-left" style="float: right;"></span></a>

							<ul class="nav nav-second-level">
								<li><a href="usuarios.html">Usuarios</a></li>

							</ul></li>
													<li><a   href="enviarNoticias.html"><i
								class="fa fa-envelope"></i> Notificaciones </a>
							</li>

					</ul>
				</div>
			</div>
		</nav>
		<!-- Barra navegacion izquierda -->

		<div id="page-wrapper">
			<!-- Formulario para nueva carrera -->
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<h1 id="txtHeader" class="page-header"></h1>
					</div>

					<img alt="" id="imagen_previa" src=""
						style="max-height: 100px; margin-left: 5%;">
					<!-- Previsualizacion imagen url -->

					<div class="col-lg-12">
						<form class="form-horizontal" id="f1" name="f1">
							<div class="form-group">
								<label for="url" class="control-label col-xs-2"> <img
									class="dataField" src="#" id="urlImagen" name="urlImagen"
									onerror="this.src='../img/logo_pestaña.png'" height="100px"
									width="100px" />
								</label>
								<div class="col-xs-5 bottom-aligned-text">
									<!-- URL -->
									<input autocomplete="off" class="form-control dataField"
										name="urlImagen" onchange="vistaPrevia('urlImagen',this.value)"
										placeholder="Ingrese la url de la imagen..." type="text">
								</div>
							</div>

							<div class="form-group has-feedback">
								<label class="control-label col-xs-2" for="inputName">Nombre
									carrera</label>

								<div class="col-xs-5">
									<input required class="form-control dataField has-feedfack" name="nombre"
										placeholder="Nombre de carrera" size="15" type="name">
										
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-xs-2">Modalidades</label>

								<div class="col-xs-5">
									<input class="form-control dataField" name="modalidades"
										placeholder="Modalidades separadas por ';' " size="15"
										type="text" required>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-xs-2">Provincia</label>

								<div class="col-xs-5">
									<select required class="form-control dataField" name="provincia"
										onchange="cambia_provincia()">
					                      <option value="none">Todas las Provincias</option>
					                      <option value="C">Capital Federal</option>
					                      <option value="B">Buenos Aires</option>
					                      <option value="K">Catamarca</option>
					                      <option value="H">Chaco</option>
					                      <option value="U">Chubut</option>
					                      <option value="X">Cordoba</option>
					                      <option value="W">Corrientes</option>
					                      <option value="E">Entre Rios</option>
					                      <option value="P">Formosa</option>
					                      <option value="Y">Jujuy</option>
					                      <option value="L">La Pampa</option>
					                      <option value="F">La Rioja</option>
					                      <option value="M">Mendoza</option>
					                      <option value="N">Misiones</option>
					                      <option value="Q">Neuquen</option>
					                      <option value="R">Rio Negro</option>
					                      <option value="A">Salta</option>
					                      <option value="J">San Juan</option>
					                      <option value="D">San Luis</option>
					                      <option value="Z">Santa Cruz</option>
					                      <option value="S">Santa Fe</option>
					                      <option value="G">Santiago del Estero</option>
					                      <option value="V">Tierra del Fuego</option>
					                      <option value="T">Tucuman</option>
					                  </select>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-xs-2" for="ciudad">Ciudad</label>

								<div class="col-xs-5">
									<input required class="form-control dataField" name="ciudad"
										placeholder="Ingrese nombre de la ciudad" size="15"
										type="text">
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-xs-2" for="ciudad">Dirección</label>

								<div class="col-xs-5">
									<input class="form-control dataField" name="direccion"
										placeholder="Dirección de la carrera" size="15"
										type="text">
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-xs-2" for="fechaInicio">Fecha
									Salida</label>

								<div class="col-xs-5">
									<input class="form-control dataField" name="fechaInicio"
										placeholder="Fecha de largada" size="15" type="date">
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-xs-2" for="horaInicio">Hora
									Salida</label>

								<div class="col-xs-5">
									<input class="form-control dataField" name="horaInicio"
										placeholder="hora salida pm/am" size="15" type="time">
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-xs-2" for="distanciaDisponible">Distancias
									en kilometros</label>

								<div class="col-xs-5">
									<input required class="form-control dataField"
										name="distanciaDisponible" placeholder="Separadas por '/' "
										type="text" required>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-xs-2" for="urlWeb">Url más info</label>

								<div class="col-xs-5">
									<input class="form-control dataField"
										name="urlWeb" placeholder=" url Completa de la web"
										type="text" >
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-xs-2" for="recomendada">Es
									Recomendada</label>

								<div class="col-xs-2">
									<input class="form-control dataField" name="recomendada"
										type="checkbox">
								</div>
							</div>
							
							
							<div class="form-group">
								<label class="control-label col-xs-2" for="descripcion">Descripción</label>

								<div class="col-xs-5">
									<textarea name="descripcion" class="form-control dataField"></textarea>
								</div>
							</div>
						</form>
					</div>
					<!-- /.col-lg-12 -->
				</div>
				<!-- /.row -->

				<div class="row pull-right" style="margin-bottom: 20px; margin-right:50%">
					<!-- Boton guardar -->
					
						<input class="btn btn-sm"
							type="button" id="btnGuardar" value="Guardar">
					

					
						<!-- Boton Cancelar -->
						<input class="btn btn-sm"  type="button"
							onClick="location.href='modificarcarrera.html'" value="Cancelar">
					
					
						<!-- Boton BORRAR -->
						<input id="btnBorrar" class="btn btn-sm btn-danger"  type="button"
							value="Borrar">
					
				</div>
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
	<!-- jQuery -->
	<script src="../jquery/jquery.min.js"></script>
	<script src="../js/utils.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="../js/bootstrap.min.js"></script>
	<!-- Custom Theme JavaScript -->
	<script src="../js/custom.js"></script>

	<script>

		var carrera = {};
		
		function guardarCarrera() {
			var form = $("#f1");
			if(isValidForm(form)){
				carrera = getFormData(form);
				var codigo = getUrlParameter("codigo");
				if(codigo){
					carrera.idCarrera = codigo;
				}
				var settings = {
					"async" : true,
					"url" : "http://191.237.16.124/RestServicesRunning-0.0.1-SNAPSHOT/running/carreras/createCarrera",
					"method" : "POST",
					"headers" : {
						"accept" : "application/json",
						"content-type" : "application/json; charset=UTF-8"
					},
					"data" : JSON.stringify(carrera)
				}
	
				$.ajax(settings).done(function(data) {
					if(data.codigoRespuesta == '201'){
						displayMessage(data.mensajes[0],"S",$("#txtHeader").parent() )
					}else{
						displayMessage(data.mensajes[0] + ' - ' + data.codigoRespuesta,"E",$("#txtHeader").parent() )
					}
					
				});
			}
		}
		
		$(document)
				.ready(
						function() {
							
							

							var codigo = getUrlParameter("codigo");
							if (codigo) {
								$("#btnBorrar").bind("click", function(){
									var settings = {
										"async" : true,
										"crossDomain" : true,
										"url" : "http://191.237.16.124/RestServicesRunning-0.0.1-SNAPSHOT/running/carreras/borrarCarrera",
										"method" : "POST",
										"headers" : {
											"accept" : "application/json",
											"content-type" : "application/json; charset=UTF-8"
										},
										"data": JSON.stringify($("#f1").data("carrera"))
									}
									$.ajax(settings).done(function(data) {
										carrera = data.dto;
										if(data.codigoRespuesta == '201'){
											displayMessage("CARRERA BORRADA","S",$("#txtHeader").parent() )
											setTimeout(function(){window.location.href='modificarcarrera.html'},3000);
											
										}else{
											displayMessage(data.mensajes[0] + ' - ' + data.codigoRespuesta,"E",$("#txtHeader").parent() )
										}
										
									}).error(function(data){ 
												displayMessage("NO SE PUEDE BORRAR","E",$("#txtHeader").parent()); 
														});


								});
								$("#txtHeader").html("Modificar Carrera");
								var settings = {
									"async" : true,
									"crossDomain" : true,
									"url" : "http://191.237.16.124/RestServicesRunning-0.0.1-SNAPSHOT/running/carreras/carreraByNro/"
											+ codigo,
									"method" : "GET",
									"headers" : {
										"accept" : "application/json",
										"content-type" : "application/json; charset=UTF-8"
									}
								}
								$.ajax(settings).done(function(data) {
									carrera = data.dto;
									if(data.codigoRespuesta == '200'){
										mapToForm(carrera, $("#f1"));	
										$("#f1").data("carrera",data.dto);
									}else{
										displayMessage(data.mensajes[0] + ' - ' + data.codigoRespuesta,"E",$("#txtHeader").parent() )
									}
									
								});

							} else {
								$("#txtHeader").html("Nueva Carrera");
								$("#btnBorrar").hide();
							}
							$("#btnGuardar").bind("click", guardarCarrera);
						})
	</script>
	<!-- Logica para preview de imagen -->
</body>
</html>