<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../../resources/js/bootstrap-3.3.5-dist/css/bootstrap.css"
	rel="stylesheet" type="text/css" />
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script
	src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script type="text/javascript"
	src="../../resources/js/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<meta charset="ISO-8859-1">


<title>Confirmación de usuario</title>
</head>
<body>

	
		<div class="jumbotron row vertical-center bg-info" style="background-color:#FF00AAFF">
			<div class="col-md-5 center">
				<img src="http://191.237.16.124/RestServicesRunning-0.0.1-SNAPSHOT/resources/img/logoRecorriendo.png" style="padding-left:20px "/>
			</div>
			<div class="col-md-7" >
				<h2>Confirmación de usuario</h2>
			</div>
		</div>
	
	<div class="container">

<div class="container">
		<div style="margin-top: 20px">
			<p>
				<span>Tu usuario ya fue confirmado!</span>
			</p>
		</div>
		<div>
			<p>
				<span>Ya podes usar la aplicación de ReCorriendo</span>
			</p>
		</div>
		<div>
			<h3>Gracias</h3>
		</div>
	</div>
	</div>
</body>
</html>