<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title>ReCorriendo</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/estilos.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../img/logo_pestaña.png" rel="shortcut icon">
</head>

<body>
    <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" style=
        "margin-bottom: 0;background-color:#83C2FB;">
            <div class="navbar-header">
                <img height="100px" src="../img/logo.png"> 
            </div><!-- Logo -->

            <div class="navbar-default sidebar" style="margin-top: 8%;">
                <div class="sidebar-nav" style="-8px">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="modificarcarrera.html"><i class=
                            "fa fa-flag-checkered fa-fw"></i>
                            Carreras<span class="fa fa-angle-double-left"
                            style="float: right;"></span></a>

                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="carreranueva.html">Nueva</a>
                                </li>

                                <li>
                                    <a href="modificarcarrera.html">Modificar</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a class="active" href="#"><i class="fa fa-group fa-fw"></i>
                            Grupos<span class="fa fa-angle-double-left" style=
                            "float: right;"></span></a>

                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="gruponuevo.html">Nuevo</a>
                                </li>

                                <li>
                                    <a href="modificargrupo.html">Modificar</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-user"></i>
                            Reportes<span class="fa fa-angle-double-left" style=
                            "float: right;"></span></a>

                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="usuarios.html">Usuarios</a>
                                </li>

                            </ul>
                        </li>
                        							<li><a   href="enviarNotificaciones.html"><i
								class="fa fa-envelope"></i> Notificaciones </a>
							</li>

                    </ul>
                </div>
            </div> 
        </nav><!-- Barra navegacion izquierda -->

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 id="txtHeader" class="page-header"></h1>
                    </div>

                    <div class="col-lg-12">
                        <form class="form-horizontal" id="f1">
                            <div class="form-group">
                                <label class="control-label col-xs-2" for=
                                "inputName">Nombre grupo</label>

                                <div class="col-xs-5">
                                    <input required class="form-control dataField" name="nombre"
                                    placeholder="Ingrese nombre  de grupo" size=
                                    "15" type="name">
                                </div>
                            </div>
                        </form>
                    </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->

                <div class="row pull-right"style="margin-right:40% "> 
                    
                        <input id="btnGuardar" class="btn"  type="button"
                        value="Guardar">
                    

                    
                        <input class="btn"  type=
                        "button" value="Cancelar" onClick="location.href='modificargrupo.html'"> 
                    
                    
                        <input id="btnBorrar" class="btn btn-danger"  type="button"
                        value="Borrar">
                    
                </div>
            </div><!-- /.container-fluid -->
        </div><!-- /#page-wrapper -->
    </div><!-- /#wrapper -->
    <!-- jQuery -->
    <script src="../jquery/jquery.min.js"></script> <!-- Bootstrap Core JavaScript -->
     <script src="../js/bootstrap.min.js"></script> <!-- Custom Theme JavaScript -->
     <script src="../js/custom.js"></script>
     <script src="../js/utils.js"></script>
     <script>
     var grupo = {};
     function guardarGrupo() {
			var form = $("#f1");
			if(isValidForm(form)){
				grupo = getFormData(form);
				var idGrupo = getUrlParameter("idGrupo");
				if(idGrupo){
					grupo.id = idGrupo;
				}
				var settings = {
					"async" : true,
					"url" : "http://191.237.16.124/RestServicesRunning-0.0.1-SNAPSHOT/running/grupos/crearGrupo",
					"method" : "POST",
					"headers" : {
						"accept" : "application/json",
						"content-type" : "application/json; charset=UTF-8"
					},
					"data" : JSON.stringify(grupo)
				}
	
				$.ajax(settings).done(function(data) {
					if(data.codigoRespuesta == '201'){
						displayMessage(data.mensajes[0],"S",$("#txtHeader").parent() )
					}else{
						displayMessage(data.mensajes[0] + ' - ' + data.codigoRespuesta,"E",$("#txtHeader").parent() )
					}
					
				});
			}
		}
     $(document).ready(function(){
    	 var idGrupo = getUrlParameter("idGrupo");
			if (idGrupo) {
				$("#btnBorrar").bind("click", function(){
					var settings = {
						"async" : true,
						"crossDomain" : true,
						"url" : "http://191.237.16.124/RestServicesRunning-0.0.1-SNAPSHOT/running/grupos/borrarGrupo",
						"method" : "POST",
						"headers" : {
							"accept" : "application/json",
							"content-type" : "application/json; charset=UTF-8"
						},
						"data": JSON.stringify($("#f1").data("grupo"))
					}
					$.ajax(settings).done(function(data) {
						carrera = data.dto;
						if(data.codigoRespuesta == '201'){
							displayMessage("GRUPO BORRADO","S",$("#txtHeader").parent() )
							setTimeout(function(){window.location.href='modificargrupo.html'},3000);
							
						}else{
							displayMessage(data.mensajes[0] + ' - ' + data.codigoRespuesta,"E",$("#txtHeader").parent() )
						}
						
					}).error(function(data){ 
								displayMessage("NO SE PUEDE BORRAR","E",$("#txtHeader").parent()); 
										});


				});
				$("#txtHeader").html("Modificar Grupo");
				var settings = {
					"async" : true,
					"crossDomain" : true,
					"url" : "http://191.237.16.124/RestServicesRunning-0.0.1-SNAPSHOT/running/grupos/getGrupoById/"
							+ idGrupo,
					"method" : "GET",
					"headers" : {
						"accept" : "application/json",
						"content-type" : "application/json; charset=UTF-8"
					}
				}
				$.ajax(settings).done(function(data) {
					carrera = data.dto;
					if(data.codigoRespuesta == '200'){
						mapToForm(carrera, $("#f1"));	
						$("#f1").data("grupo",data.dto);
					}else{
						displayMessage(data.mensajes[0] + ' - ' + data.codigoRespuesta,"E",$("#txtHeader").parent() )
					}
					
				});

			} else {
				$("#txtHeader").html("Nuevo Grupo");
				$("#btnBorrar").hide();
			}
			$("#btnGuardar").bind("click", guardarGrupo);
    	 
     });
     </script>
</body>
</html>