<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title>ReCorriendo</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/estilos.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../img/logo_pestaña.png" rel="shortcut icon">
		
</head>

<body>
     <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" style=
        "margin-bottom: 0;background-color:#83C2FB;">
            <div class="navbar-header">
                <img height="100px" src="../img/logo.png"> 
            </div><!-- Logo -->
        </nav><!-- Barra navegacion izquierda -->  
        
    </div> 
<center>
 <div class="container" style="margin-top:10%;">

     <form name="loginForm" method="POST" action="j_security_check">
        <h3 class="form-signin-heading">Sign in</h3>
        <label for="inputEmail" class="sr-only">Usuario</label>
        <input name="j_username" type="text" id="inputEmail" class="form-control" placeholder="Nombre de usuario" autofocus="" style="margin-bottom:20px">
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="j_password" type="password" id="inputPassword" class="form-control" placeholder="Password" style="margin-bottom:20px">
        <a href="modificarcarrera.html"> <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button> </a>
      </form>

    </div> 
</center>
</body>
</html>