<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title>ReCorriendo</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/estilos.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../img/logo_pestaña.png" rel="shortcut icon">
</head>

<body>

    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" style=
        "margin-bottom: 0;background-color:#83C2FB;">
            <div class="navbar-header">
                <img height="100px" src="../img/logo.png"> 
            </div><!-- Logo -->

            <div class="navbar-default sidebar" style="margin-top: 8%;">
                <div class="sidebar-nav" style="-8px">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="modificarcarrera.html"><i class=
                            "fa fa-flag-checkered fa-fw"></i>
                            Carreras<span class="fa fa-angle-double-left"
                            style="float: right;"></span></a>

                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="carreranueva.html">Nueva</a>
                                </li>

                                <li>
                                    <a href="modificarcarrera.html">Modificar</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-group fa-fw"></i>
                            Grupos<span class="fa fa-angle-double-left" style=
                            "float: right;"></span></a>

                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="gruponuevo.html">Nuevo</a>
                                </li>

                                <li>
                                    <a href="modificargrupo.html">Modificar</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-user"></i>
                            Reportes<span class="fa fa-angle-double-left" style=
                            "float: right;"></span></a>

                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="usuarios.html">Usuarios</a>
                                </li>

                            </ul>
                        </li>

                    </ul>
                </div>
            </div> 
        </nav><!-- Barra navegacion izquierda -->

        <div id="page-wrapper"> <!-- Tabla y busqueda carrera -->
            <div class="container-fluid">
                <div class="row"> <!-- Busqueda -->
                    <div class="col-lg-12">
                        <h1 class="page-header">Buscar usuario</h1>
                    </div>

                    <div class="row">
                        <button id="botonBusqueda" type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo" style="margin-bottom:15px; padding-right:20px">Parametros de busqueda <i class="fa fa-bars" style="margin-left:40%"></i></button>
                        <div id="demo" class="collapse">
                        <div class="col-lg-4">



                            <div class="dataTables_filter" id="filtro1">
                                <label>Nombre<input class=
                                "form-control input-sm" placeholder="" type=
                                "search"></label>
                            </div>

                            <div class="dataTables_filter" id="filtro2">
                                <label>Apellido<input class=
                                "form-control input-sm" placeholder="" type=
                                "search"></label>
                            </div>

                            <div class="dataTables_filter" id="filtro2">
                                <label>Nickname<input class=
                                "form-control input-sm" placeholder="" type=
                                "search"></label>
                            </div>


                        </div>

                        <div class="col-lg-4">

                            <div class="dataTables_filter" id="filtro3">
                                <label>Email<input class=
                                "form-control input-sm" placeholder="" type=
                                "email"></label>
                            </div>

                            <div class="dataTables_filter" id="filtro4">
                                <label>Grupo<input class=
                                "form-control input-sm" placeholder="" type=
                                "text"></label>
                            </div>

                        </div>

                     <div class="row">
                        <div class="col-lg-11">
                            <div class="dataTables_filter" id="filtro7" style="text-align: right;">
                                <input class="btn" style=
                                "margin-top: 20px; margin-bottom: 10px;border: 1px solid grey; margin-right:43%;"
                                type="button" value="Buscar">
                            </div>
                        </div>
                    </div>
                    </div>
                </div>


                    <div class="row"><!-- Tabla  -->
                        <table cellspacing="0" class=
                        "table table-striped table-bordered" id="example"
                        width="100%">
                            <thead>
                                <tr>
                                    <th>Nombre</th>

                                    <th>Apellido</th>

                                    <th>Nickname</th>

                                    <th>Email</th>

                                    <th>Grupo</th>

                                </tr>
                            </thead>

                            <tbody>

                                <tr>

                                    <td>Juan</td>

                                    <td>Perez</td>

                                    <td>Juancete</td>

                                    <td>juanjuancete@gmail.com</td>

                                    <td>Los corredores 1</td>

                                   
                                </tr>

                                    <td>Carlos</td>

                                    <td>Larea</td>

                                    <td>Carlitos</td>

                                    <td>carloslarea@gmail.com</td>

                                    <td>Los corredores 2</td>

                                   
                                </tr>

                                </tr>

                                    <td>Mariana</td>

                                    <td>Lorel</td>

                                    <td>Marianal</td>

                                    <td>Marianalorel@gmail.com</td>

                                    <td>Los corredores 3</td>

                                   
                                </tr>

                                </tr>

                                    <td>Fernanda</td>

                                    <td>Perez</td>

                                    <td>Fernan</td>

                                    <td>Fernanperez@gmail.com</td>

                                    <td>Los corredores 4</td>

                                   
                                </tr>

                            </tbody>
                        </table>
                    </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div><!-- /#page-wrapper -->
    </div><!-- /#wrapper -->
    <!-- jQuery -->
    <script src="../jquery/jquery.min.js"></script> <!-- Bootstrap Core JavaScript -->
     <script src="../js/bootstrap.min.js"></script> <!-- Custom Theme JavaScript -->
     <script src="../js/custom.js"></script>

    <div class="modal fade" id="delete" tabindex="-1"> <!-- Pop up confirmacion para borrado de registro --> 
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type=
                    "button"><span class=
                    "glyphicon glyphicon-remove"></span></button>

                    <h4 class="modal-title custom_align" id="Heading">Borrar
                    registro</h4>
                </div>

                <div class="modal-body">
                    <div class="alert alert-danger">
                        <span class="glyphicon glyphicon-warning-sign"></span>
                        ¿Esta seguro que quiere borrar el registro?
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-success" type="button"><span class=
                    "glyphicon glyphicon-ok-sign"></span>&nbsp;Yes</button>
                    <button class="btn btn-default" data-dismiss="modal" type=
                    "button"><span class=
                    "glyphicon glyphicon-remove"></span>&nbsp;No</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>