<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta content="" name="description">
<meta content="" name="author">

<title>ReCorriendo</title>
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="../css/estilos.css" rel="stylesheet">
<link href="../css/font-awesome.min.css" rel="stylesheet"
	type="text/css">
<link href="../img/logo_pestaña.png" rel="shortcut icon">
</head>

<body>

	<div id="wrapper">
		<nav class="navbar navbar-default navbar-static-top"
			style="margin-bottom: 0; background-color: #83C2FB;">
			<div class="navbar-header">
				<img height="100px" src="../img/logo.png">
			</div>
			<!-- Logo -->

			<div class="navbar-default sidebar" style="margin-top: 8%;">
				<div class="sidebar-nav" style="">
					<ul class="nav" id="side-menu">
						<li><a href="modificarcarrera.html"><i
								class="fa fa-flag-checkered fa-fw"></i> Carreras<span
								class="fa fa-angle-double-left" style="float: right;"></span></a>

							<ul class="nav nav-second-level">
								<li><a href="carreranueva.html">Nueva</a></li>

								<li><a href="modificarcarrera.html">Modificar</a></li>
							</ul></li>

						<li><a href="#"><i class="fa fa-group fa-fw"></i> Grupos<span
								class="fa fa-angle-double-left" style="float: right;"></span></a>

							<ul class="nav nav-second-level">
								<li><a href="gruponuevo.html">Nuevo</a></li>

								<li><a href="modificargrupo.html">Modificar</a></li>
							</ul></li>

						<li><a href="#"><i class="fa fa-user"></i> Reportes<span
								class="fa fa-angle-double-left" style="float: right;"></span></a>

							<ul class="active" class="nav nav-second-level">
								<li><a href="usuarios.html">Usuarios</a></li>

							</ul></li>
						<li><a   href="enviarNotificaciones.html"><i
								class="fa fa-envelope"></i> Notificaciones </a>
							</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Barra navegacion izquierda -->

		<div id="page-wrapper">
			<!-- Tabla y busqueda carrera -->
			<div class="container-fluid">
				<div class="row">
					<!-- Busqueda -->
					<div class="col-lg-12">
						<h1 class="page-header">Buscar usuario</h1>
					</div>

					<div class="row">
						<button id="botonBusqueda" type="button" class="btn btn-info"
							data-toggle="collapse" data-target="#formBusqueda"
							style="margin-bottom: 15px; padding-right: 20px">
							Parametros de busqueda <i class="fa fa-bars"
								style="margin-left: 40%"></i>
						</button>
						<div id="formBusqueda" class="collapse in">
							<div class="col-lg-4">



								<div>
									<label>Nombre<input name="nombre"
										class="form-control dataField input-sm" placeholder=""
										type="search"></label>
								</div>

								<div name="apellido">
									<label>Apellido<input name="apellido"
										class="form-control dataField input-sm" placeholder=""
										type="search"></label>
								</div>

								<div>
									<label>Nickname<input name="nickName"
										class="form-control dataField input-sm" placeholder=""
										type="search"></label>
								</div>


							</div>

							<div class="col-lg-4">

								<div>
									<label>Email<input
										class="form-control input-sm dataField" name="email"
										placeholder="" type="email"></label>
								</div>

								<div class="">
									<label>Grupo<input
										class="form-control dataField input-sm" placeholder=""
										name="grupo" type="text"></label>
								</div>

							</div>
							<div class="col-lg-9">
								<div class="dataTables_filter" id="filtro7"
									style="text-align: right;">
									<input class="btn"
										style="margin-top: 20px; margin-bottom: 10px; border: 1px solid grey; margin-right: 43%;"
										type="button" id="btnBuscar" value="Buscar">
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-lg-2">
						<label>Encontrados: <span id="encontrados"></span></label>
					</div>
					<!-- Tabla  -->
					<table cellspacing="0" class="table table-striped table-bordered"
						id="dataTable" width="100%">
						<thead>
							<tr>
								<th></th>
								<th>Nombre</th>

								<th>Apellido</th>

								<th>Nickname</th>

								<th>Email</th>

								<th>Grupo</th>

							</tr>
						</thead>

						<tbody>
							<tr name="template" display='none'>
								<td class="logo_center" name="fotoPerfil" isLogo><img
									src="" onerror="this.src='../img/logo_pestaña.png'"
									height="100px" width="100px"></td>
								<td name="nombre"></td>
								<td name="apellido"></td>
								<td name="nick"></td>
								<td name="email"></td>
								<td name="grupoId"></td>
							</tr>

						</tbody>
					</table>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
	<!-- jQuery -->
	<script src="../jquery/jquery.min.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="../js/bootstrap.min.js"></script>
	<!-- Custom Theme JavaScript -->
	<script src="../js/custom.js"></script>
	<script src="../js/utils.js"></script>

	<script>
		function mapToTable(data, table) {
			var row;
			$("#encontrados").html(data.length);
			$(table).find("tbody").empty();
			$(data).each(
					function(i, e) {

						row = rowTemplate.clone();
						$(row).data("carrera", e);
						row.find("td:not([skip])").each(
								function(j, td) {
									if ($(td).is("[isLogo]")) {
										$(td).find("img").attr("src",
												e[$(td).attr("name")]);
									} else {
										$(td).html(e[$(td).attr("name")]);
									}

								});
						row.find("a[name='edit']").attr("href",
								"carreranueva.html?codigo=" + e.codigoCarrera);
						$(table).append(row);

					})
		}

		var rowTemplate;

		$(document)
				.ready(
						function() {
							$("#input_nombre").keyup(function(event) {
								if (event.keyCode == 13) {
									$("#btnBuscar").click();
								}
							});
							rowTemplate = $("#dataTable tr[name='template']")
									.clone()
							rowTemplate.removeAttr('display')
									.removeAttr('name');
							$("#dataTable tbody").empty();
							$("#btnBuscar")
									.bind(
											"click",
											function() {
												var settings = {
													"async" : true,
													"url" : "http://191.237.16.124/RestServicesRunning-0.0.1-SNAPSHOT/running/usuarios/buscarUsuarios",
													"method" : "POST",
													"headers" : {
														"accept" : "application/json",
														"content-type" : "application/json; charset=UTF-8"
													},
													"data" : JSON
															.stringify(getFormData($("#formBusqueda")))
												}

												$
														.ajax(settings)
														.done(
																function(data) {
																	console
																			.log(data.dto);
																	mapToTable(
																			data.dto,
																			$("#dataTable"));
																});
											})

							var formBusqueda = getFormData($("#formBusqueda"));
							if (!jQuery.isEmptyObject(formBusqueda)) {
								$("#btnBuscar").click()

							}

						});
	</script>
</body>
</html>